.breadcrumb-option {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;

  a, span {
    font-size: 13px;
    display: flex;
    align-items: center;
    margin-right: 18px;
    position: relative;

    &:not(:first-child):before {
      position: absolute;
      left: -10px;
      top: 0;
      content: "/";
    }
  }

  a {
    color: #ffffff;

    svg {
      height: 15px;
      width: 15px;
    }
  }

}








