<app-breadcrumb [crumbs]="crumbs"></app-breadcrumb>

<!-- Product Section Begin -->
<app-loader *ngIf="loading"></app-loader>

<app-container>
  <section class="product-page spad">
    <div class="row">
      <!-- <div class="col-lg-8"> -->
      <div>
        <div class="product__page__content">
          <div class="product__page__title">
            <div class="row">
              <div class="col-lg-8 col-md-8 col-sm-6">
                <div class="section-title">
                  <h4>{{ collection.name}}</h4>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <!-- <div class="product__page__filter"> -->
                <!--   <p>Сортировать по:</p> -->
                <!--   <select> -->
                <!--     <option value="">Алфавит</option> -->
                <!--     <option value="">1-10</option> -->
                <!--     <option value="">10-50</option> -->
                <!--   </select> -->
                <!-- </div> -->
              </div>
            </div>
          </div>
          <div class="row" [class.opacity-25]="loading">
            <div *ngFor="let movie of collection.movies;index as i"
                 class="col-lg-3 col-md-6 col-sm-6">
              <div class="product__item">
                <div class="product__item__pic rounded-2 overflow-hidden" [class.bg-secondary]="!imagesLoaded[i]">
                  <app-loader *ngIf="!imagesLoaded[i]"></app-loader>
                  <a [routerLink]="'/movies/' + movie.slug">
                    <img (load)="imagesLoaded[i] = true"
                         [alt]="'картинка изображение к подборке фильмов ' + movie.name"
                         [attr.loading]="i > 11 ? 'lazy' : null"
                         [src]="imagesPath + movie.mainImageThumb">
                  </a>

                  <!-- <div class="ep">{{collection.episodesCount}}</div> -->
                  <!-- <div *ngIf="collection.comments?.length" class="comment"> -->
                  <!--   <i class="fa fa-comment"></i> -->
                  <!--   {{collection.comments?.length}} -->
                  <!-- </div> -->

                  <!-- <div class="view"> -->
                  <!--   <i class="fa fa-star"></i> -->
                  <!--   {{collection.rating}} -->
                  <!-- </div> -->
                </div>
                <div class="product__item__text">
                  <ul>
                    <!-- <li>Active</li> -->
                    <!-- <li>Movie</li> -->
                  </ul>
                  <h5 class="position-relative">
                    <a [routerLink]="'/movies/' + movie.slug">
                      {{movie.name}}
                    </a>
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-pagination [page]="page" [route]="['/collections/', this.collection.slug]"></app-pagination>
      </div>

      <!-- sidebar -->
      <!-- <div class="sidebar col-lg-4 col-md-6 col-sm-8"> -->
      <!-- <app-movies-index-sidebar></app-movies-index-sidebar> -->
      <!-- </div> -->
      <!-- end sidebar -->
    </div>
  </section>
  <!-- Product Section End -->
</app-container>

