<app-container>
  <app-breadcrumb [crumbs]="crumbs"/>

  <!-- Product Section Begin -->
  <app-loader *ngIf="loading"/>

  <section class="movies spad">
    <div class="row">
      <!-- <div class="col-lg-8"> -->
      <div>
        <div class="movies__content product__page__content">
          <app-movies-index-list-head
            [title]="'Дорамы из коллекции - ' + collection.name"/>

          <app-movies-index-list [movies]="collection.movies"
                                 [imagesLoaded]="imagesLoaded"
                                 [loading]="loading"/>
        </div>
        <app-pagination [page]="page"
                        [route]="['/collections/', this.collection.slug]"/>
      </div>

      <!-- sidebar -->
      <!-- <div class="sidebar col-lg-4 col-md-6 col-sm-8"> -->
      <!-- <app-movies-index-sidebar></app-movies-index-sidebar> -->
      <!-- </div> -->
      <!-- end sidebar -->
    </div>
  </section>
  <!-- Product Section End -->
</app-container>

