.movies {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.movies__content-list-item-pic {
  min-height: 300px;
  width: 100%
}

.movies-index__item-text {

  h3 {
    margin-top: 10px;
    margin-bottom: 0;

    a {
      color: #fff;

    }
  }
}
