<app-container>
  <app-breadcrumb [crumbs]="crumbs"/>

  <app-loader *ngIf="loading"/>

  <section class="movies spad" [class.opacity-25]="loading">
    <!-- <div class="col-lg-8"> -->
    <div>
      <div class="movies__content">
        <div class="movies__content-head">
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-6">
              <div class="section-title">
                <h4>Подборки кино и сериалов</h4>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
              <!-- <div class="product__page__filter"> -->
              <!--   <p>Сортировать по:</p> -->
              <!--   <select> -->
              <!--     <option value="">Алфавит</option> -->
              <!--     <option value="">1-10</option> -->
              <!--     <option value="">10-50</option> -->
              <!--   </select> -->
              <!-- </div> -->
            </div>
          </div>
        </div>
        <div class="movies__content-list">
          <div class="movies__content-list-item" *ngFor="let collection of collections;index as i">
            <div class="movies__content-list-item-pic"
                 [style.min-height.px]="!imagesLoaded[i] ? 200 : null"
                 [style.width.%]="!imagesLoaded[i] ? 100 : null">
              <app-loader *ngIf="!imagesLoaded[i]"></app-loader>
              <a [routerLink]="'/collections/' + collection.slug">
                <img (load)="imagesLoaded[i] = true"
                     [alt]="'картинка изображение к подборке фильмов ' + collection.name"
                     [attr.loading]="i > 11 ? 'lazy' : null"
                     [src]="imagesPath + collection.thumb">
              </a>
            </div>
            <div class="movies-index__item-text">
              <!-- <ul> -->
              <!-- <li>Active</li> -->
              <!-- <li>Movie</li> -->
              <!-- </ul> -->
              <h3 class="position-relative">
                <a [routerLink]="'/collections/' + collection.slug">
                  {{collection.name}}
                </a>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <!-- <app-pagination [page]="page" [route]="['/movies', selectorPath]"></app-pagination> -->
    </div>

    <!-- sidebar -->
    <!-- <div class="sidebar col-lg-4 col-md-6 col-sm-8"> -->
    <!-- <app-movies-index-sidebar></app-movies-index-sidebar> -->
    <!-- </div> -->
    <!-- end sidebar -->
  </section>
  <!-- Product Section End -->
</app-container>
