<!-- Header Section Begin -->
<header class="header">
  <app-container>
    <div class="row">
      <div class="col-12 col-sm-4 col-md-3 d-flex align-items-center">
        <div class="header__logo">
          <a routerLink="/" class="d-flex align-items-center">
            <img src="/assets/img/logo/logo.svg"
                 class="me-2"
                 width="40"
                 height="40"
                 alt="лого кино и сериалы сайт">
            <div class="text-white fw-bold">Дорама.Медиа</div>
          </a>
        </div>
      </div>
      <div class="col-12 col-sm-4 col-md-6">
        <div class="header__nav">
          <nav class="header__menu mobile-menu">
            <ul>
              <!-- <li><a routerLink="/categories">Категории <span class="arrow_carrot-down"></span></a> -->
              <!--   <ul class="dropdown"> -->
              <!--     <li><a routerLink="/">Categories</a></li> -->
              <!--     <li><a routerLink="/">Anime Details</a></li> -->
              <!--     <li><a routerLink="/">Anime Watching</a></li> -->
              <!--     <li><a routerLink="/">Blog Details</a></li> -->
              <!--     <li><a routerLink="/">Sign Up</a></li> -->
              <!--     <li><a routerLink="/">Login</a></li> -->
              <!--   </ul> -->
              <!-- </li> -->
              <!-- <li><a href="/blog">Our Blog</a></li> -->
              <li><a routerLink="/movies">Все кино и сериалы</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-12 col-sm-4 col-md-3">
        <div class="header__right">
          <!-- <a class="search-switch"> -->
          <!--   <span class="icon_search"></span> -->
          <!-- </a> -->
          <a routerLink="/login">
            <span class="icon_profile">Вход</span>
          </a>
          <a routerLink="/register">
            <span class="icon_profile">Регистрация</span>
          </a>
        </div>
      </div>
    </div>
    <!-- <div id="mobile-menu-wrap"></div> -->
  </app-container>
</header>
<!-- Header End -->
