@use "variables" as *;

.login__form {
  position: relative;
  width: 50%;

  @media screen and (max-width: 992px){
    width: 70%;
  }

  @media screen and (max-width: 576px){
    width: 100%;
  }

  h3 {
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 30px;
  }

  .input__item {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;


    input {
      height: 50px;
      width: 100%;
      font-size: 15px;
      padding-left: 40px;


      &::placeholder {
        color: $text-color;
      }

    }

    span {
      left: 10px;
      height: 20px;
      color: $text-color;
      position: absolute;
    }
  }

  form {
    button {
      border-radius: 0;
      margin-top: 10px;
    }
  }

  .forget_pass {
    font-size: 15px;
    color: #ffffff;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}



.login__social {
  padding-top: 52px;

  .login__social__links {
    width: 50%;
    text-align: center;

    @media screen and (max-width: 576px){
      width: 100%;
    }

    span {
      color: #ffffff;
      display: block;
      font-size: 13px;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    ul {
      li {
        list-style: none;
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }

        a {
          color: #ffffff;
          display: block;
          font-size: 13px;
          font-weight: 700;
          letter-spacing: 2px;
          text-transform: uppercase;
          padding: 14px 0;
          position: relative;
          margin: 0 auto;

          &.facebook {
            background: #4267b2;
          }

          &.vkontakte {
            background: #1861ee;
          }

          &.google {
            background: #ff4343;
          }

          &.twitter {
            background: #1da1f2;
          }
        }

        i {
          font-size: 20px;
          position: absolute;
          left: 32px;
          top: 14px;
        }
      }
    }
  }
}



