<app-container>
  <app-breadcrumb [crumbs]="crumbs"/>

  <!-- Product Section Begin -->
  <app-loader *ngIf="loading"/>

  <section class="movies spad">
    <div class="row">
      <!-- <div class="col-lg-8"> -->
      <div>

        <!-- actor info -->
        <!-- actor photo -->
        <h2>Актёр дорам {{actor.name}}</h2>
        <img [alt]="'фотография актёра дорам ' + actor.name"
             [src]="imagesPath + actor.mainThumb"
             height="auto"
             width="150">

        <!-- end actor info -->


        <div class="movies__content">
          <app-movies-index-list-head
            [title]="'Фильмы и сериалы с актёром - ' + actor.name"/>

          <app-movies-index-list [loading]="loading"
                                 [imagesLoaded]="imagesLoaded"
                                 [movies]="actor.movies"/>
        </div>

        <app-pagination *ngIf="actor"
                        [page]="page"
                        [route]="['/actors/', actor.slug]"></app-pagination>
      </div>

      <!-- sidebar -->
      <!-- <div class="sidebar col-lg-4 col-md-6 col-sm-8"> -->
      <!-- <app-movies-index-sidebar></app-movies-index-sidebar> -->
      <!-- </div> -->
      <!-- end sidebar -->
    </div>
  </section>
  <!-- Product Section End -->
</app-container>

