@use "variables" as *;

.images {
  & .image-block {
    position: relative;

    & a {
      display: block;
      height: 206px;
      overflow: hidden;


      & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }


  }
}


.actors,
.anthologies,
.collections {

  overflow-x: auto;

  & a {
  }


  & .actor,
  & .anthology,
  & .collection {
    color: white;
    width: 100px;
    overflow-x: hidden;
    font-size: 12px;
    min-height: 130px;
    background-color: $bg-color-lighter;

    & img {
      height: 130px;
      object-fit: cover;
    }
  }

  & .collection,
  & .anthology {
    width: 200px;
  }
}



