<!-- Footer Section Begin -->
<footer class="footer">
  <div class="page-up">
    <a class="text-white"
       (click)="scrollToTop()" id="scrollToTopButton">
      <span class="arrow_carrot-up">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path
            d="m12 6.879-7.061 7.06 2.122 2.122L12 11.121l4.939 4.94 2.122-2.122z"></path>
        </svg>
      </span>
    </a>
  </div>
  <app-container>
    <div class="row align-items-center">
      <div class="col-lg-3">
        <div class="footer__logo">
          <a routerLink="/" class="d-flex align-items-center">
            <img src="/assets/img/logo/logo.svg"
                 class="me-2"
                 width="40"
                 height="40"
                 alt="логотип сайта кинотека.топ">
            <div class="text-white fw-bold">Кинотека.Топ</div>
          </a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="footer__nav">
          <ul>
            <li class="active"><a routerLink="/">Главная</a></li>
            <li><a routerLink="/movies">Сериалы и кино</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <span>&copy; 2016 - {{ year }} Все права защищены!</span>
        <div>Разработка <a href="https://www.fl.ru/users/budenii/portfolio/"
                           target="_blank"
                           rel="noreferrer noopener nofollow">&#64;lancerloshkin</a>
        </div>

      </div>
    </div>
  </app-container>
</footer>
<!-- Footer Section End -->
