<app-container>
  <app-breadcrumb [crumbs]="crumbs"/>

  <!-- Product Section Begin -->
  <app-loader *ngIf="loading"/>

  <section class="movies spad">
    <div class="row">
      <!-- <div class="col-lg-8"> -->
      <div>
        <div class="movies__content">
          <app-movies-index-list-head
            [title]="'Дорамы и сериалы из жанра - ' + genre.name"/>

          <div *ngIf="genre.movies.length <= 0">
            <h3>К сожалению, дорам не найдено!</h3>
          </div>

          <app-movies-index-list *ngIf="genre.movies.length > 0"
                                 [movies]="genre.movies"
                                 [loading]="loading"
                                 [imagesLoaded]="imagesLoaded"/>
        </div>

        <app-pagination *ngIf="genre"
                        [page]="page"
                        [route]="['/genres/', genre.slug]"/>

      </div>

      <!-- sidebar -->
      <!-- <div class="sidebar col-lg-4 col-md-6 col-sm-8"> -->
      <!-- <app-movies-index-sidebar></app-movies-index-sidebar> -->
      <!-- </div> -->
      <!-- end sidebar -->
    </div>
  </section>
  <!-- Product Section End -->
</app-container>

