$bg-color: #0b0c2a;
$bg-color-lighter: #222240;
$bg-color-darker: #070720;

$bg-color-disabled: #3f3f79;

$accent-color: #fc5354;
$accent-color-lighter: #fc6d6d;
$accent-color-darker: #fc3a3a;

$accent-color-orange: #e89f12;
$text-color: #b7b7b7;

$green-color: green;
$green-color-lighter: #009900;
$green-color-darker: #006600;


$success-bg-color: #6bc66b;
$success-bg-text: #004b00;

$warning-bg-color: #ffcb66;
$warning-bg-text: #714b00;

$danger-bg-color: #ff846c;
$danger-bg-text: #2f0000;

$info-bg-color: #00cfd6;
$info-bg-text: #004a4b;
