<app-container>
  <app-breadcrumb [crumbs]="crumbs"/>

  <app-loader *ngIf="loading"/>

  <!-- random update button -->
  <button (click)="updateRandom()"
          *ngIf="moviesSelector.random == selectorNumber"
          class="btn btn-warning mt-3"
          type="button">Другой вариант
  </button>
  <!-- end random update button -->

  <section class="movies spad">
    <!-- <div class="col-lg-8"> -->
    <div>
      <div class="movies__content">
        <app-movies-index-list-head title="Дорамы и сериалы"/>

        <app-movies-index-list [movies]="movies"
                               [loading]="loading"
                               [imagesLoaded]="imagesLoaded"/>

      </div>
      <app-pagination [page]="page"
                      [route]="routePath"
                      [queries]="{search: searchQuery}"/>
    </div>

    <!-- sidebar -->
    <!-- <div class="sidebar col-lg-4 col-md-6 col-sm-8"> -->
    <!-- <app-movies-index-sidebar></app-movies-index-sidebar> -->
    <!-- </div> -->
    <!-- end sidebar -->
  </section>
</app-container>
